h1.pot{
    color: purple;
    border: 22px solid green;

}
div.point{
    display: flex;
    flex-direction: column;
}

p{
    border: 5px solid red;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    border-radius: 40px;
    text-transform: uppercase;
}

p.typ{
    background-color: blue;
    border-radius: 0;

}

p.ren{
background-color: aqua;
border-radius: 3;
}